/* Common styles for both light and dark modes */
body {
  font-size: 16pt;
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
  font-weight: bold;
}

/* Light mode styles */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

/* Media query for system preference */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
    color: #ffffff;
  }
}

footer {
  font-size: 10pt;
  text-align: center;
}

/* Your additional styles go here */

/* Top bar styles */
.top-bar {
  background-color: #333; /* Change as needed */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Dropdown Button */
.dropdown {
  position: relative; /* Change to relative */
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute; /* Change to absolute */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0; /* Change to left */
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
